/* You can add global styles to this file, and also import other style files */
@import './vars';

body{
    background-color: $body-color;
    direction: rtl;
}
button{
    display:block;
   font-size: 25px;
    width: 250px;
    background-color: $button-color;
    color:$letter-color;
    margin:0 auto 10px auto;
    border: 1px solid $button-color;
    border-radius: 10px;
    box-shadow: 1px 5px $ayat-color;   
}
.position {  
    margin:0 auto;
    width: 1000px;
    
}
p{
    color: $letter-color;
}
.fa-certificate{
    color: $button-color;
}

div{
    text-align: justify;
 
    ul{
        margin: 0 auto;
        padding: 30px;
        width: 1000px;
        background-color: $ayat-contanier;
        color:$ayat-color;
        border: 1px solid $ayat-contanier;
        border-radius: 15px;
        box-shadow: 5px 5px $ayat-color;  
        li{
            display: inline;
            a{
                font-size: 30px;
                margin-bottom: 100px;
            }
        }
    }
}

div{
    p{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    
} 
#fehres{
    float: left;
    background-color: white;
    color: $button-color;
}

@mixin lRDirection {
    color: $letter-color;
    cursor: pointer;
    font-size: 25px;
}

.directions{
    width: 1000px;
    margin: 0px  auto;
    padding-top: 30px;
    a#right{
        float: right;
    @include lRDirection();
    }
    a#left{
        float: left;
     @include lRDirection();
    }
}
